.titulo {
    background-color: #101f54;
    color:
        rgb(170, 242, 244);
    text-align: center;
    padding: 0, 10px 0;
    bottom: 0;
    width: 100%;
}
.Obrigadopelasuacompra{
    text-align: center;
}
.historiaseficcao{
    text-align: center;
}
.yasmim {
    background-color: #460d63;
    color: rgb(195, 241, 243);
    text-align: center;
    padding: 0,10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}