body {
    background-color: rgb(184, 243, 240);
}
.titulo {
    background-color: #101f54;
    color:
        rgb(249, 252, 252);
    text-align: center;
    padding: 0, 10px 0;
    bottom: 0;
    width: 100%;
}
footer {
    background-color: #17726d;
    color:
        rgb(249, 252, 252);
    text-align: center;
    padding: 0, 10px 0;
    bottom: 0;
    width: 100%;
}
.ficcao {
    background-color: #076a86;
    color:
        rgb(249, 252, 252);
    text-align: center;
    padding: 0, 10px 0;
    bottom: 0;
    width: 100%;
}
.yasmim {
    background-color: #460d63;
    color: rgb(195, 241, 243);
    text-align: center;
    padding: 0, 20px 0;

    bottom: 0;
    width: 100%;
}
.preço {

    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0, 10px 0;
}
.botaodecomprar {
    background-color: #17726d;
    color: #ffffff;
    border: nome;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 50%;
}